<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>

<head>
    <title>Employees</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<!--    <script type="text/javascript" src="jquery-3.7.1.js"></script>-->

</head>
<body>

<!-- up Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--                <form th:action="@{/updateUser}" method="post">-->
                <form>
                    <input type="hidden" name="userId" class="user-id">
                    <div class="mb-3 row">
                        <label for="disabledName" class="col-sm-2 col-form-label">Имя пользователя</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control user-username" id="disabledName" disabled
                                   readonly>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="name" class="col-sm-2 col-form-label">Имя</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control user-name" id="name">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="surName" class="col-sm-2 col-form-label ">Фамилия</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control user-sur-name" id="surName">
                        </div>
                    </div>
                    <!--                    <div class="mb-3 row">-->
                    <!--                        <label for="salary" class="col-sm-2 col-form-label">Зарплата</label>-->
                    <!--                        <div class="col-sm-10">-->
                    <!--                            <input type="text" class="form-control user-salary" id="salary">-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <div class="mb-3 row">
                        <label for="age" class="col-sm-2 col-form-label">Возраст</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control user-age" id="age">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="exampleInputEmail1" class="col-sm-2 col-form-label">Email address</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control user-email" id="exampleInputEmail1"
                                   aria-describedby="emailHelp">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="exampleInputPassword1" class="col-sm-2 col-form-label">Пароль</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control user-password" id="exampleInputPassword1">
                        </div>
                    </div>


                    <select class="form-select user-roles" multiple aria-label="multiple select example">
<!--                        <div th:each="role : ${allRoles}">-->
<!--                            <option th:utext="${role.getName()}" th:value="${role.getId()}"></option>-->
<!--                        </div>-->
                    </select>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-button"
                        id="save-user-button">Save changes
                </button>
            </div>
        </div>
    </div>
</div>
<!-- delModal -->
<div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="delModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="del-modal-title" id="delModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--                <form th:action="@{/updateUser}" method="post">-->
                <form>
                    <fieldset disabled>
                        <input type="hidden" name="userId" class="del-user-id">
                        <div class="mb-3 row">
                            <label for="disabledDelName" class="col-sm-2 col-form-label">Имя пользователя</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control del-user-username" id="disabledDelName">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="delnName" class="col-sm-2 col-form-label">Имя</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control del-user-name" id="delnName">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="delSurName" class="col-sm-2 col-form-label ">Фамилия</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control del-user-sur-name" id="delSurName">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="delAge" class="col-sm-2 col-form-label">Зарплата</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control del-user-age" id="delAge">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="delInputEmail1" class="col-sm-2 col-form-label">Email address</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control del-user-email" id="delInputEmail1"
                                       aria-describedby="delEmailHelp">
                                <div id="delEmailHelp" class="form-text">We'll never share your email with anyone else.
                                </div>
                            </div>
                        </div>

                        <!--                    <div class="mb-3 row">-->
                        <!--                        <label for="delInputPassword1" class="col-sm-2 col-form-label">Пароль</label>-->
                        <!--                        <div class="col-sm-10">-->
                        <!--                            <input type="password" class="form-control user-password" id="delInputPassword1" disabled-->
                        <!--                                   readonly>-->
                        <!--                        </div>-->
                        <!--                    </div>-->


<!--                        <select class="form-select user-roles" multiple aria-label="multiple select example">-->
<!--                            <div th:each="role : ${allRoles}">-->
<!--                                <option th:utext="${role.getName()}" th:value="${role.getId()}"></option>-->
<!--                            </div>-->
<!--                        </select>-->
                    </fieldset>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary del-button"
                        id="del-user-button">Delete User
                </button>
            </div>
        </div>
    </div>
</div>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid ">
        <span class="navbar-brand">
                <span class="fw-bold" id="authenticatedUserEmail"></span>
                <span> with roles: </span>
                <span class="fw-bold user-roles"></span>

            </span>


            <ul class="navbar-nav  ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" th:action="@{/logout1}">logout</a>
                </li>
            </ul>

        </div>
    </nav>

</header>
<!--<div th:replace="header :: content"></div>-->
<div class="container">

    <div class="row">
        <div class="col-2 ">
            <nav class="nav mt-3 nav-pills flex-column ">
                <a class="nav-link active user-role-admin " href="#" style="display: none;">Admin</a>
                <a class="nav-link  user-role-user" aria-current="page" href="/user" style="display: none;">User</a>
            </nav>
        </div>


        <div class="col-10">

            <div class="p-3 mb-2 bg-light text-dark">
                <p class="fw-bold fs-4">Admin panel</p>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="users-tab" data-bs-toggle="tab" data-bs-target="#allUsers"
                                type="button" role="tab" aria-controls="home" aria-selected="true">Users table
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="new-user-tab" data-bs-toggle="tab" data-bs-target="#newUser"
                                type="button" role="tab" aria-controls="profile" aria-selected="false">New User
                        </button>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">
                    <!--<input type ="button" value="Add" onclick="window.location.href = 'admin/addNewUser'"/>-->
                    <div class="tab-pane fade show active" id="allUsers" role="tabpanel"
                         aria-labelledby="all-users-tab">
                        <div class="card">

                            <div class="card-header">
                                AllUsers
                            </div>
                            <div class="card-body">
                                <table class="table table-striped" th:border="1">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Age</th>
                                        <th>Email</th>
<!--                                        <th>Role</th>-->
<!--                                        <th>Обновить</th>-->
<!--                                        <th>Удалить</th>-->
                                    </tr>
                                    </thead>


                                    <tbody id="allUsersTable"></tbody>
                                    <!--                            <tr th:each="user : ${allUsers}">-->
                                    <!--                                <td th:utext="${user.getId()}"></td>-->
                                    <!--                                <td th:utext="${user.getName()}"></td>-->
                                    <!--                                <td th:utext="${user.getSurname()}"></td>-->
                                    <!--                                <td th:utext="${user.getAge()}"></td>-->
                                    <!--                                <td th:utext="${user.getEmail()}"></td>-->
                                    <!--                                <td>-->
                                    <!--                                    <span th:each="role, iterStat : ${user.getRoles()}">-->
                                    <!--                                        <span th:text="${role.getNoPrefix()}"></span>-->
                                    <!--                                        <span th:if="${!iterStat.last}">, </span>-->
                                    <!--                                    </span>-->
                                    <!--                                </td>-->
                                    <!--                                <td>-->
<!--                                                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"-->
<!--                                                                                data-bs-target="#exampleModal" th:data-bs-whatever="${user.id}">-->
<!--                                                                            Обновить-->
<!--                                                                        </button>-->
                                    <!--                                </td>-->
                                    <!--                                <td>-->
                                    <!--                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"-->
                                    <!--                                            data-bs-target="#delModal" th:data-bs-whatever="${user.id}">-->
                                    <!--                                        Удалить-->
                                    <!--                                    </button>-->
                                    <!--                                </td>-->
                                    <!--                            </tr>-->


                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="newUser" role="tabpanel"
                         aria-labelledby="new-user-tab">
                        <div class="card">
                            <div class="card-header">
                                Add new user
                            </div>
                            <div class="container" style="width: 18rem;">
                                <!--                            <form th:method="POST" th:action="@{/admin/userNew/{id}(id=${user.getId()})}"-->
                                <!--                                  th:object="${user}">-->

                                <!--                                <div class="mb-3">-->
                                <!--                                    <label for="name" class="form-label">Введите имя:</label>-->
                                <!--                                    <input type="text" class="form-control" th:field="*{name}" id="name">-->
                                <!--                                    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name-->
                                <!--                                        error-->
                                <!--                                    </div>-->
                                <!--                                </div>-->

                                <!--                                &lt;!&ndash;                            <div class="row g-3 align-items-center">&ndash;&gt;-->
                                <!--                                <div class="mb-3">-->
                                <!--                                    <label for="surname" class="form-label">Введите фамилию:</label>-->
                                <!--                                    <input type="text" class="form-control" th:field="*{surname}" id="surname">-->
                                <!--                                    <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">-->
                                <!--                                        Name error-->
                                <!--                                    </div>-->
                                <!--                                </div>-->

                                <!--                                <div class="mb-3">-->
                                <!--                                    <label for="age" class="form-label"> Возраст:</label>-->
                                <!--                                    <input type="text" class="form-control" th:field="*{age}" id="age">-->
                                <!--                                    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name-->
                                <!--                                        error-->
                                <!--                                    </div>-->
                                <!--                                </div>-->

                                <!--                                <div class="mb-3">-->
                                <!--                                    <label for="email" class="form-label"> email:</label>-->
                                <!--                                    <input type="text" class="form-control" th:field="*{email}" id="email">-->
                                <!--                                    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name-->
                                <!--                                        error-->
                                <!--                                    </div>-->
                                <!--                                </div>-->

                                <!--                                <div class="mb-3">-->
                                <!--                                    <label for="username" class="form-label"> username:</label>-->
                                <!--                                    <input type="text" class="form-control" th:field="*{username}" id="username">-->
                                <!--                                    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">-->
                                <!--                                        Name-->
                                <!--                                        error-->
                                <!--                                    </div>-->
                                <!--                                </div>-->

                                <!--                                <div class="mb-3">-->
                                <!--                                    <label for="password" class="form-label"> пароль:</label>-->
                                <!--                                    <input type="password" class="form-control" th:field="*{password}" id="password">-->
                                <!--                                    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">-->
                                <!--                                        Name-->
                                <!--                                        error-->
                                <!--                                    </div>-->
                                <!--                                </div>-->
                                <!--                                <select class="form-select user-roles" th:name="roles" multiple-->
                                <!--                                        aria-label="multiple select example">-->
                                <!--                                    <div th:each="role : ${allRoles}">-->
                                <!--                                        <option th:utext="${role.getName()}"-->
                                <!--                                                th:value="${role.getId()}"></option>-->
                                <!--                                    </div>-->
                                <!--                                </select>-->

                                <!--                                <input type="submit" value="OK"/>-->
                                <!--                            </form>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-2.2.4.js"
        integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script type="text/javascript" src="admin.js"></script>
<!--<script>-->
<!--    var exampleModal = document.getElementById('exampleModal')-->
<!--    exampleModal.addEventListener('show.bs.modal', function (event) {-->
<!--        // Button that triggered the modal-->
<!--        var button = event.relatedTarget-->
<!--        // Extract info from data-bs-* attributes-->
<!--        var recipient = button.getAttribute('data-bs-whatever')-->
<!--        var userId = button.getAttribute('data-bs-userId');-->


<!--        // If necessary, you could initiate an AJAX request here-->
<!--        // and then do the updating in a callback.-->
<!--        //-->
<!--        // Update the modal's content.-->
<!--        // if(userId) {-->
<!--            $.get({-->
<!--                url: '/api/user/' + 17,-->
<!--                success: (data) => {-->
<!--                    let modal = $(this)-->
<!--                    // modal.find('#user-id').val(data.id)-->
<!--                    modal.find('#surName').val(data.id)-->
<!--                    // modal.find('#user-surname').val(data.password)-->
<!--                },-->
<!--                error: (err) => {-->
<!--                    alert(err);-->
<!--                }-->
<!--            });-->
<!--        // }-->
<!--        var modalTitle = exampleModal.querySelector('.modal-title')-->
<!--        var modalBodyInput = exampleModal.querySelector('.modal-body input')-->

<!--        modalTitle.textContent = '"Гвоздь, который торчит, забивается".' + userId-->
<!--        var userId = button.getAttribute('userId')-->
<!--        modalBodyInput.value = recipient-->
<!--    })-->
<!--</script>-->


<!--<script type="text/javascript" src="user.js"></script>-->

</body>
</html>
