<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html>
<head>
    <!--    <meta charset="UTF-8">-->
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>Spring Security Example</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<!--<div th:fragment="navbar"></div>-->
<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ">
        <span class="navbar-brand">
                <span class="fw-bold" th:text="${user.getEmail()}"></span>
                <span> with roles: </span>
                <span th:each="role, iterStat : ${user.getRoles()}">
                    <span th:text="${role.getNoPrefix()}"></span>
                    <span th:if="${!iterStat.last}">, </span>
                </span>

            </span>


        <ul class="navbar-nav  ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logout}" th:action="@{/logout1}">logout</a>
            </li>
        </ul>

    </div>
</nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-3 ">
            <nav class="nav mt-3 nav-pills flex-column ">
                <div th:each="role, iterStat : ${user.getRoles()}">
                    <div th:if="${role.getNoPrefix().equals('ADMIN')}">
                        <a class="nav-link " href="/admin">Admin</a>
                    </div>
                    <div th:if="${role.getNoPrefix().equals('USER')}">
                        <a class="nav-link active" aria-current="page" href="#">User</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="col-7 ">
            <div class="p-3 mb-2 bg-light text-dark">
                <p class="fw-bold fs-4">User-information-page</p>
                <div class="card">
                    <div class="card-header">
                        About user
                    </div>
                    <div class="card-body">
                        <table class="table table-striped" th:border="1">
                            <tr>
                                <th>Id</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Role</th>

                            </tr>

                            <tr>
                                <td th:utext="${user.getId()}"></td>
                                <td th:utext="${user.getName()}"></td>
                                <td th:utext="${user.getSurname()}"></td>
                                <td th:utext="${user.getAge()}"></td>
                                <td th:utext="${user.getEmail()}"></td>
                                <td>
                                    <span th:each="role, iterStat : ${user.getRoles()}">
                                        <span th:text="${role.getNoPrefix()}"></span>
                                        <span th:if="${!iterStat.last}">, </span>
                                    </span>
                                </td>
                            </tr>


                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>